<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2yhWNRv8h73kam9014hBSJmusloT4SKA</string>
	<key>GCM_SENDER_ID</key>
	<string>595632124567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chartai.app</string>
	<key>PROJECT_ID</key>
	<string>chartai-b4618</string>
	<key>STORAGE_BUCKET</key>
	<string>chartai-b4618.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595632124567:ios:ba1e9923b1609d6b116fd2</string>
</dict>
</plist>